@import "tailwindcss";

@theme {
  --color-bg: #0A0A0A;
  --color-surface: #161616;
  --color-surface2: #222222;
  --color-border: #333333;
  --color-primary: #6366F1;
  --color-primary-light: #818CF8;
  --color-text: #F5F5F5;
  --color-muted: #9CA3AF;
  --color-success: #22C55E;
  --color-danger: #EF4444;
}
